body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('imagenes/donsabor_background.png'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
}


.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

h2 {
    margin-top: 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-container label {
    margin-right: 10px;
    font-weight: bold;
}

.quantity-container input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.add-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #218838;
}

#pedido {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pedido-lista p {
    margin: 5px 0;
    color: #333;
}

/* Estilo para el botón de Finalizar Pedido */
.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    position: fixed; /* Botón fijo en la parte inferior */
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 90%;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.send-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#notification.show {
    opacity: 1;
}

#notification.hidden {
    opacity: 0;
    pointer-events: none;
}